# Python Notlarım! (Güncelleniyor)

 ## Basit İşlemler
 * Aşağıda görüldüğü üzere herhangi bir değişkene atama yapılmadan da dört işlem ve ekrana yazı yazdırabiliyoruz. Tabii bu ekrana yazdırabilme kolaylığını Jupyter gibi araçlar sunuyor. Aşağılarda detaylı anlatımlar mevcut.

In [1]:
20 + 5

25

In [2]:
9 - 12

-3

In [3]:
50 / 7

7.142857142857143

In [4]:
12 * 5

60

In [5]:
"Merhaba Dünya"

'Merhaba Dünya'

## Değişkenler ve Veri Tipleri (Variables and Data Types)

- Buradaki sorular güncellenebilir, aklında soru mu var? SOR :)
* Neden değişken kullanmalıyız o zaman? - Jupter, anlık değişikleri görebilmeniz için size bir kolaylık sunmuş olabilir ama bu bir yanlış kullanımdır. Çünkü, üstteki gibi kullanımda program hata verecektir. Ekrana yazı yazdırmak veya veritabanına bir bilgi göndermek istediğinizde değişken kullanmak zorundasınız.
* Değişken kullandık peki o kalıcı mı? - Değişkenler, RAM dediğimiz belleklerde tutulur. Yani, RAM'in çalışma mantığını biliyorsanız cevabınızı çoktan ulaşmışsınızdır. RAM(Random Access Memory), bilgileri rastgele bölgelerde programın açık olduğu sürece saklar. Kapatıp açtıktan sonra o bilgiler yeniden rastgele yerlere dağılır, eski yerlerine de farklı bilgiler gelir.
* O zaman kullanmaya gerek yok ne de olsa kalıcı değil? - Böyle düşünmen normal, ilerledikçe değişkenleri daha iyi anlayacaksın. Veritabanından gelen veriyi bir değişkene eşitleyerek o değişkeni kullanabiliriz. Zaten değişkenleri tek başına kullanmıyoruz. Kısaca kullanımından bahsetmek gerekirse şu değişkeni, şu tablodaki değere eşitle diyoruz. Böylece veritabanı sayesinde bilgilerimizi kalıcı hale getirmiş oluyoruz.

In [1]:
2 + 2

4

In [32]:
# Bir değişken oluşturduk ve bu değişkenin değerine 2 + 2 = 4 olmak üzere değer atadık.
yazilanDeger = 2 + 2
# Daha sonra oluşturduğumuz bu değişkeni print fonksiyonu ile ekrana yazdırıyoruz.
'''SORU: Biz normalde 2 + 2 yaptığımızda 4 sonucunu görüyoruz, ne gerek var ki print'e?
CEVAP: Jupyter bize anlık değişiklikleri görebilmemiz için kolaylık sağlamış. Dosyalarda ekrana yazı yazdırmak
istediğimizde hata ile karşılacaksınız. Bu hatalarla karşılaşmamak için print fonksiyonunu kullanmak önemli. Yukarıda neden
değişken kullanmalıyız sorusuna cevaplardan biri de bu.
'''
# print() parantez içinde bulunan değerleri ekrana yazdırır. Tabii bu kullanımında kuralları var.
# parantez içine değişken adını yazarak değeri ekrana yazdırabiliriz.
print(yazilanDeger)

4

In [33]:
# parantez içine çift tırnak ya da tek tırnak açarak değeri öyle de yazdırabilirsiniz.
print("Yazılan değer: ",yazilanDeger)

Yazılan değer:  4

In [34]:
print('Yazılan değer: ',yazilanDeger)

Yazılan değer:  4

In [31]:
# Virgül kullanmadan yazarsanız invalid syntax hatasını alacaksınız.
print('Yazılan değer: 'yazilanDeger)

SyntaxError: invalid syntax (<ipython-input-31-9ccf04944852>, line 2)

## Veri Tipi Döünüşümleri (Data Type Conversion)
* Dönüştürmek istediğimiz değişkenin önüne veritipi(degisken) yazarak dönüştürme yapabiliyoruz.

In [21]:
# Tam sayı bir değer tanımlıyoruz ve değerine 5 atıyoruz.
sayi = 5
# float(sayi) ise değişkenin değerini ondalık değere dönüştürüyor. Böylece 5 diye çıktı alacağımız değer 5.0 olarak alacağız.
float(sayi)

5.0

In [22]:
# NOT: Eğer string ifadenin içinde sadece sayılar varsa sayılara dönüştürme işlemi kolayca yapılabilir.
sayiString = "41356"
# Böylece string ifadenin içindeki sayılar tam sayı değerlere dönüştürülmüş oldu.
int(sayiString)

41356

In [23]:
# DİKKAT: Eğer harf falan varsa ne olur bir de ona bakalım.
sayiHarfli = "4365ab"
# ValueError hatası almış olacağız böylece.
int(sayiHarfli)

ValueError: invalid literal for int() with base 10: '4365ab'

In [12]:
# Sayılardan stringe dönüştürürken hiçbir problem olmaz.
tamSayi = 43434
str(tamSayi)

'43434'

## type() fonksiyonu
* Bu fonksiyon sayesinde hangi veri tipine sahip olduğunu görebilirsiniz.
* type(degiskenadi) şeklinde kullanılır.

In [15]:
type(tamSayi)
# Gördüğünüz gibi dönüştürme işlemi yapıldı ama kalıcı olmadı. Çünkü bir değişkene vs tanımlamadık.

int

In [40]:
stringTamSayi = str(tamSayi)
type(stringTamSayi)

str

## Print Fonksiyonu Detaylı

In [1]:
# Birden fazla değeri yan yana ekrana yazdırabiliriz.
print("Rahman",21,"Çaylak")

Rahman 21 Çaylak

In [16]:
# String ifadelerde çok kullanılan 2 özel karakter vardır.
# 1. \n
print("Bu bir\nalt satıra alan karakterdir.")

Bu bir
alt satıra alan karakterdir.

In [17]:
#2. \t
print("Bu karakter araya \ttab boşluk bırakır!")

Bu karakter araya 	tab boşluk bırakır!

In [21]:
# sep=""
''' Yan yana değerleri yazdığımızda arada boşluklar oluyor. Bunu kullanarak aradaki boşlukta ne olmasını
istiyorsak onu parametrenin içine yazıyoruz. Örnekte daha iyi anlaşılacak.
'''
# Ekrana yazdırdığımızda aralarında kısa çizgi olduğunu göreceksiniz.
print("Rahman",21,"Çaylak",sep="-")

Rahman-21-Çaylak

In [23]:
# Ya içine hiçbir şey yazmazsak ne olur? - invalid syntax hatası alırsınız :)
print("Rahman",21,"Çaylak",sep=)

SyntaxError: invalid syntax (<ipython-input-23-e9edb3c416cd>, line 2)

In [24]:
# Peki ya tırnakların içine bir şey yazmazsak ne olur? - Aralarındaki boşlukları siler ve birleşik yazar.
print("Rahman",21,"Çaylak",sep="")

Rahman21Çaylak

In [27]:
# String ifadelerde çok kullanılan 2 karakter vardı, onlardan birini de parametreye yazalım mı?
print("Rahman",21,"Çaylak",sep="\n")

Rahman
21
Çaylak

In [29]:
# Şimdi print'e 3 tane değil 1 tane değer yazalım ve onu tek tek karakterlerine ayıralım. Bunun için tırnağın başına * eklenir.
print(*"Rahman")

R a h m a n

In [36]:
# Ekrana TBMM yazdırmak istiyoruz ve nokta da olsun diyoruz. Bunu iki şekilde yapabiliriz ama en iyisi 2. yol.
# 1.Yol
print("T","B","M","M",sep=".")

T.B.M.M

In [37]:
# 2. Yol: Tırnakların başına yıldız koyarak her birini bir karaktere ayırıyoruz daha sonra sep ile de aralarına nokta koyuyoruz.
print(*"TBMM",sep=".")

T.B.M.M

# Format() Fonksiyonu
* Bu ifadeyi C# öğrendiyseniz eğer çok kolay anlayacaksınız. Bilmiyorsanız da üzülmeyin, okumaya devam edelim.
* Print içinde süslü parantezler kullanarak, format yardımıyla değerleri sırasıyla ekrana yazdırabiliriz. Farklı kullanımları için örneklere devam edelim.

In [42]:
# Birinci süslü paranteze 5, ikinci süslü paranteze ise 3 değerini atamış olduk.
print("{} {}".format(5,3))

5 3

In [43]:
# Direkt değer girmeniz gerekmiyor. Değişkenleri de format yardımıyla yazdırabiliriz.
firstValue = 45
secondValue = "İkinci değer"
print("{} {}".format(firstValue,secondValue))

45 İkinci değer

In [46]:
# Eğer format içindeki değerleri sırasıyla değil, kendinizin belirttiği şekilde ekrana yazdırmak istiyorsanız
print("{1} {0} {2}".format(5,1,4))

1 5 4

In [54]:
# Ya eğer {3} yazsaydık ve format içerisinde ona karşılık bir değer olmasaydı ne olacaktı?
print("{1} {0} {2} {3}".format(5,1,4))
# Tabii ki hata alacaktınız. O index'e ait değer olmadığı için program ne yaptığınızı anlayamıyor.

IndexError: Replacement index 3 out of range for positional args tuple

#### Formatları ezberlemenize gerek yok, sadece böyle bir kullanımın var olduğunu bilmek önemliydi. Artık bildiğinize göre aşağıdaki siteden ihtiyacınız olduğu kullanımlara/durumlara bakabilirsiniz.
* https://pyformat.info/

## Listeler
* Açıklama eklenecek...

In [1]:
# Liste, içinde her türlü değişken tipini barındırabiliyor.
liste = ["Rahman","Çaylak",21,"İstanbul Aydın Üniversitesi",2018]
liste

['Rahman', 'Çaylak', 21, 'İstanbul Aydın Üniversitesi', 2018]

In [3]:
# Liste tipini de type fonksiyonu ile öğrenebiliriz.
type(liste)

list

In [4]:
# Listeyi iki şekilde oluşturabiliriz.
# 1. Yol: değişkenadı = []
firstList = []
firstList

[]

In [6]:
#2. Yol: değişkenadı = list()
secondList = list()
secondList

[]

In [7]:
# 2. Yol kullanımı bir yerden tanıdık gelmesi lazım. Evet, veri tiplerini dönüştürürken kullanıyorduk.
# O zaman herhangi bir değişkeni listeye çevirebilir miyiz?
isim = "Rahman"
list(isim)
# Çalıştırdığınızda string karakterlerini tek tek ayırdığını göreceksiniz.

['R', 'a', 'h', 'm', 'a', 'n']

In [9]:
# Bir tane daha fonksiyonu öğrenmeyi unuttuk, hadi onu da öğrenelim.
len(isim)
# isim değişkeninde kaç karakter bulunuyorsa böylece bulabiliyoruz. Bunu listelerde de sayılarda da yapabiliriz.

6

In [13]:
# Listelerin elemanlarına index sayesinde ulaşabiliriz.
# Yukarıdaki tanımladığımız listeyi unuttuysanız eğer:
# liste = ["Rahman","Çaylak",21,"İstanbul Aydın Üniversitesi",2018]
liste[0]
# Listelerde 0'ıncı elemandan başlayarak değerlere ulaşabilirsiniz.

'Rahman'

In [19]:
# 0'dan nasıl artarak soldan sağa gidiyorsa, -1'den azalarak sağdan sola değerlere ulaşabiliriz.
liste[-1]

2018

In [18]:
liste[-2]

'İstanbul Aydın Üniversitesi'

In [85]:
# Önemli bir olay. Ya listenin olmayan indexine oluşmak istediğimizde ne olur?
liste[14]
# Listenin sahip olduğu aralığın dışına çıktığımız için program hata verecektir.

IndexError: list index out of range

In [20]:
# 2. indexden sonraki değerleri al diyoruz
liste[2:]

[21, 'İstanbul Aydın Üniversitesi', 2018]

In [22]:
# sadece 0 ve 1 indexi al ama ikinciyi dahil etme.
liste[:2]

['Rahman', 'Çaylak']

In [23]:
# O zaman dahil edelim değil mi?
liste[::2]

['Rahman', 21, 2018]

In [24]:
# Listeyi ters çevirmenin çok güzel bir yöntemi var.
liste[::-1]

[2018, 'İstanbul Aydın Üniversitesi', 21, 'Çaylak', 'Rahman']

### Listelerde İşlemler

In [45]:
liste1 = ["Armut",12,34,"İstanbul"]
liste2 = ["Kiraz",15,23,"Ankara"]
# Toplam işaretini eklediğimizde iki lisiteyi de bir araya getirdiğini görüyoruz.
liste1 + liste2

['Armut', 12, 34, 'İstanbul', 'Kiraz', 15, 23, 'Ankara']

In [29]:
# Pekii, neden liste1 elemanları ilk sıradaydı?
liste2 + liste1
# Sanırım artık cevabını öğrendik. İlk sırada hangisi varsa onun elemanları ilk başta ekleniyor.

['Kiraz', 15, 23, 'Ankara', 'Armut', 12, 34, 'İstanbul']

In [35]:
# Çıkarma yaparsak veya diğer işlemleri yaparsak ne olur?
liste1 - liste2
# Hata alacaksınız. :) Toplama işareti istisnalardan bir tanesidir. Daha önce bundan bahsetmiştik.

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [46]:
# Liste elemanlarını birden fazla kez liste içine atayabiliriz.
liste1 = liste1 * 2
liste1

['Armut', 12, 34, 'İstanbul', 'Armut', 12, 34, 'İstanbul']

In [53]:
# Ama neden öyle yaptık? liste1 * 2 deseydik olmaz mıydı? - Olurdu ama kalıcı olmazdı.
# ilk liste1'i çarpın daha sonra liste1'i yorum satırından çıkarıp öyle çalıştırın ve sonucu görün.
liste1 * 2
# liste1

['Armut', 12, 34, 'İstanbul', 'Armut', 12, 34, 'İstanbul']

In [55]:
# liste1 = ['Armut', 12, 34, 'İstanbul', 'Armut', 12, 34, 'İstanbul']
# Listelerde indexleri bilmek ne işimize yarar yazdırmaktan başka?
liste1[0] = 45
# Burada dedik ki, 0'ıncı indexin değerini sağdaki değere eşitle. Böylece 0'ıncı indexte Armut yerine artık 45 değeri olacak.
liste1

[45, 12, 34, 'İstanbul', 'Armut', 12, 34, 'İstanbul']

In [56]:
# Farklı yöntemi var mı listedeki elemanları değiştirmenin?
liste1[:2] = [12,35]
# 0 ve 1 indexin sahip olduğu değerler yerine, 12 ve 35 yaz dedik.
liste1

[12, 35, 34, 'İstanbul', 'Armut', 12, 34, 'İstanbul']

In [61]:
# Ya dahil etseydik ama 3. bir değerimiz olmasaydı program nasıl bir çıktı verirdi?
liste1[::2] = [75,65]
# 3. bir değerimiz olmadığı için hatayı aldık.

ValueError: attempt to assign sequence of size 2 to extended slice of size 4

### Append() Metodu
* Listeye eleman eklemek için append() metodu kullanılır.

In [65]:
# Kafamız karışmaması için yeni bir liste oluşturuyoruz.
liste3 = [43,23,"jupyter"]
# Daha sonra append metodu ile de listemize eleman ekliyoruz.
liste3.append("Mars")
liste3

[43, 23, 'jupyter', 'Mars']

### Pop() Metodu
* Listeden eleman silmek için kullanılır.

In [68]:
# pop içine herhangi bir index yazmazsak eğer, listenin son elemanını siler.
liste3.pop()

'Mars'

In [69]:
liste3

[43, 23, 'jupyter']

In [70]:
# 0'ıncı index yani 43 silmek istiyoruz, ne yapmalıyız sizce?
liste3.pop(0)

43

In [71]:
liste3

[23, 'jupyter']

### Sort() Metodu
* Listede sırasız bir şekilde sayıların olduğunu düşünelim. Peki biz bunları küçükten büyüğe göre dizmek istediğimizde ne yapmalıyız? - Konu başlığımızdaki olduğu gibi Sort() metodunu kullanacağız.
* NOT: Sadece sayılarda değil, karakter dizelerinde de kullanabiliriz. Alfabetik sırasına göre elemanları dizecektir.

In [110]:
# Yeni bir liste oluşturuyoruz.
liste4 = [23,56,-6,1,200,3234,65,89]
# Bu listemizi sıraya dizmek için sort metodunu kullanıyoruz.
liste4.sort()
liste4

[-6, 1, 23, 56, 65, 89, 200, 3234]

In [79]:
# Sort metodunun içine reverse True dediğimizde bu sefer büyükten küçüğe sıralıyor.
liste4.sort(reverse = True)
liste4

[3234, 200, 89, 65, 56, 23, 1, -6]

In [76]:
# Listede sayıların içinde bir string tipinden ifade olursa, o zaman Sort() metodu ne yapacak?
liste5 = [34,67,890,5,"Sort"]
liste5.sort()
# Hata verecek. :)

TypeError: '<' not supported between instances of 'str' and 'int'

In [81]:
# Yeni bir liste oluşturuyoruz ve bu liste karakter dizelerinden oluşuyor.
liste6 = ["Jupyter", "Python", "Chrome", "Database"]
liste6.sort()
liste6

['Chrome', 'Database', 'Jupyter', 'Python']

In [107]:
# Sayılarda olduğu gibi reverse kullandığımızda eleman sırasında benzer sonucu verecek midir sizce?
liste6.sort(reverse = True)
liste6

NameError: name 'p' is not defined

### İç İçe Listeler
* Düzenlenecek...

In [88]:
newList = [[54,34],[45,54],["Bir","İki"]]
newList

[[54, 34], [45, 54], ['Bir', 'İki']]

In [89]:
newList[0]

[54, 34]

In [91]:
newList[1][0]

45

## Demetler (Tuples)
* Listelere oldukça benzerdir ama büyük bir farkı vardır. Demetler, listelere göre değerleri değiştirilemez.

In [96]:
# Listeler köşeli parantez ile oluşturuyorduk. Demetlerde ise parantez kullanarak oluşturuyoruz.
demet = (23,34,45,"İstanbul")
demet

(23, 34, 45, 'İstanbul')

In [104]:
# Demetlerin tipini kontrol edelim.
type(demet)

tuple

In [100]:
# Demetlerdeki değerlere listelere benzer şekilde ulaşabiliyoruz.
demet[0]

23

In [101]:
# Değerini değiştirmeye çalıştığımızda hata verecektir.
demet[0] = 67

TypeError: 'tuple' object does not support item assignment

In [102]:
# Aralığın dışına çıkarsak yine hata verecektir.
demet[15]

IndexError: tuple index out of range

In [106]:
# Bir string tipinde değerimiz olsun, bunu demetlere çevirelim.
demetString = "Ankara"
tuples(ankara)

NameError: name 'tuples' is not defined

### Count() Metodu
* Demetin içinde Count() yardımıyla değerlerin kaç defa tekrar ettiğini gösterir.

In [115]:
demetCount = (4,2,4,6,2,4,6,8,9,0,145,2345,44)
# Oluşturduğumuz demetin içinde kaç tane 4 var diye kontrol ediyoruz.
# NOT: İçinde 4 olması bir şey ifade etmiyor. (145, 44...)
demetCount.count(4)

3

### Index() Metodu
* Bu metod sayesinde değerin hangi indexte olduğunu kolayca bulabiliriz.

In [124]:
demetIndex = ("Rahman", "Çaylak", "İstanbul", "Alibeyköy")
# Demetin içinde Çaylak var mı diye metoda kontrol ettiriyoruz ve onun indexini geri döndürüyor.
# NOT: Çaylak ve çaylak iki farklı değerdir.
demetIndex.index("Çaylak")

1

In [123]:
# Eğer öyle bir değer yoksa program nasıl bir sonuç verecek bir kontrol edelim.
demetIndex.index("Çayla")

ValueError: tuple.index(x): x not in tuple

In [128]:
# Demetin içinde birden fazla benzer değer varsa, hangisinin indexini geri dönürecek?
demetIndex2 = (1,6,3,1,4,1,6,9,0,234,76,23)
demetIndex2.index(1)

0

## Sözlük
* Güncellenecek...

## Kullanıcıdan Değer Alma - Input() Fonksiyonu
* Programda genelde kendimiz değerleri yazdık. Artık bundan sonra dışarıdan istediğimiz değeri input() fonksiyonu sayesinde alabiliriz.
* Input fonksiyonundan aldığınız her değer string ifade olarak döner, bunun çözümleri için de veri tipi dönüşümlerini hatırlamanız gerekecek.

In [1]:
# Kullanıcıdan bu şekilde bir değer alabiliriz.
input()

Rahman

'Rahman'

In [3]:
# Inputun içine karakter dizeleri girerek kullanıcıyı bilgilendirebiliriz.
input("Bir sayı giriniz: ")

Bir sayı giriniz: 24

'24'

In [4]:
# Kullanıcıdan değerler aldık ama bir değişkene atamadığımız için hep boşa gitti, şimdi bir değişkene atayalım.
sayi = input("Sayı giriniz: ")

Sayı giriniz: 25

In [5]:
# Input fonksiyonundan aldığımız her değer öncelikle string ifade olarak geri döner.
sayi = input("Bir sayı giriniz: ")
type(sayi)

Bir sayı giriniz: 25

str

In [9]:
# Bu durumda kullanıcıdan aldığınız değerlerle 4 işlem yapamayacaksınız. Çözümü nedir?
# Python notlarının ilk başlarında veri tipi dönüşümlerini görmüştük, burada da aynı şekilde kullanabiliriz.
sayi = int(input("Bir sayı giriniz: "))
type(sayi)

Bir sayı giriniz: 25

int

In [10]:
# Kullanıcıdan aldığımız 3 sayı ile bir toplama işlemi yapalım.
sayi1 = int(input("Birinci sayıyı giriniz: "))
sayi2 = int(input("İkinci sayıyı giriniz: "))
sayi3 = int(input("Üçüncü sayıyı giriniz: "))
print("Toplam: ",sayi1+sayi2+sayi3)

Birinci sayıyı giriniz: 25
İkinci sayıyı giriniz: 34
Üçüncü sayıyı giriniz: 45
Toplam:  104

In [13]:
# Eğer inputa hiçbir değer girmeden devam edersek ne olur, kontrol edelim.
a = input("Bir değer giriniz: ")
print("Girdiğiniz değer: ",a)
# String ifadede hiçbir şey girmezseniz onu bir boşluk olarak kabul eder.

Bir değer giriniz:
Girdiğiniz değer:

In [15]:
# Şimdi bir tam sayıda deneyelim.
b = int(input("Bir sayı giriniz: "))
print("Girdiğiniz sayı: ",b)
# Bir değer girmezseniz eğer programda hata ile karşılacaksınız.

Bir sayı giriniz:

ValueError: invalid literal for int() with base 10: ''

In [18]:
# String tipi sayı da alıyordu karakter de, sayı alırken inputta ne gibi problemler olacak?
# input ekranına deneme gibi bir yazı yazıp devam edin.
girilenSayi = int(input("Bir sayı giriniz: "))
print("Girdiğiniz sayı: ",girilenSayi)
# üstteki yaşadığımız benzer hatayı göreceğiz.

Bir sayı giriniz: deneme

ValueError: invalid literal for int() with base 10: 'deneme'